page-start {
    .bgpic{

        background-image: url('../assets/img/1.jpg');  
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .btn1{
        background-color:  			#d420e9;
        top: 85%;
        left: 25%;
        width: 55%;
    }
}
