page-login {
    .bgpic{

        background-image: url('../assets/img/pro3.jpg');  
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    .tttranfor{
        background-color: transparent;
    }
    .margin{
        left: 35%;
    }
    
    .margin2{
        left: 32%;
    }
}
